
/* CSS Document */

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
	list-style: none;
}
a{
	text-decoration:none;
}
.container{
	width:100%;
	height: 100vh;
	justify-content: center;
	align-items: left;
	display: flex;
}

.box{
	width:350px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color: red;
	text-align: center;
	margin-top: 20px;
}

.marvel{
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}

.box:hover{
	background-color: #fff;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .marvel{
	color: black;
	transition: all ease 0.5s;
}
 .center{
	opacity: 50%;
	list-style: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	
}

/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}
